*, p, h1, h2, h3, ul, ol, a, block-quote, li 
{
padding: 0; 
margin: 0;
}



body
{
	font-family: "Times New Roman", Times, serif;
	font-size: .95em;
	background-image: url("../images/dandelion4_sm.jpg");
	background-repeat: no-repeat;
}
#color_swatch
{
	background-color: rgba(173, 204, 127, .5);
	width: 750px;
	padding: 20px;
	margin: 0 auto 0 auto;
}
#container
{
	width: 680px;
	background-color: rgba(255, 222, 240, .6);
	padding: 40px 20px 0 50px;
	border: 1px #6E154C solid;
	margin: 0 auto 0 auto;
}

.skills {
width: 680px;
}

.right {
float: right; 
width: 330px;
}

.left {
float: left; 
width: 330px;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


header {
background-color: rgba(255, 255, 255, .6);
}

h1 {
color: rgba(173, 204, 127, .5);
font-size: 1.7em;
font-style: italic;
font-weight: lighter;
text-align: center;
position: relative; top: 7px;
width: 680px;
padding-top: 40px;
margin: 0 auto 0 auto;
}

h3 {
width: 680px;
position: relative; left: -20px;
text-align: center;
margin: 0 auto 15px auto;
}

h2, h3, h4 {
color: #6E154C;
font-family: Helvetica, "Lucida Grande", Arial, sans-serif;
font-weight: lighter;
text-transform: uppercase;
}

h2.heading
{
	width: 680px;
	font-family: 'Allura', cursive;
	font-size: 2.5em;
	text-transform: capitalize;
	text-align: center;
	margin: 0 auto 20px auto;
	position: relative;
	left: -20px;
}

h5 {
font-size: 1em;
}

ul {
margin: 0 0 15px 20px;
}

p {
line-height: 1.3;
margin: 0 0 20px 0;
}

p.noBottom {
margin: 0;
}

a { color: #275A48; }

a:visited {color: #666;}

footer {
text-align: center;
margin: 15px auto 0 auto;
}

footer li
{
	list-style: none;
	display: inline;
	width 680px;
	position: relative; left: 0;
	padding-right: 20px;
}
