body {
	font-size: .8em;
}

.border {
	border: 3px solid white;
}

.blank {
	height: 8em;
	background-color: #ccc;
}

.rw1 {
	background-color: #fcc;
	border-bottom: 3px solid white;
}

.tall {
	height: 22em;
	background-color: #ccf;
}

.short {
	height: 4em;
	background-color: #0ff;
}

.top_thickness {
	border-top: 6px;
	border-color: white;
	border-style: solid;
	
}